/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    --color: #E1E1E1;
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}

.container {
    max-width: 1200px;
    width: 80%;
    height: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2, h1 {
    color: #333;
    font-size: 500%;
}

.btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
    width: 150px;
    height: 60px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #dfee10 0%, #14e225 100%);
    box-shadow: 0 20px 30px -6px rgba(73, 143, 223, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 24px;
    color: white;
}


.btn:hover {
    transform: translateY(3px);
    box-shadow: none;
}

.btn:active {
    opacity: 0.5;
  }

.error {
    color: red;
    margin-top: 10px;
}

.characters {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.character {
    text-align: center;
    cursor: pointer;
}

.character img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.character p {
    margin-top: 10px;
}

.rules ul {
    list-style-type: none;
    padding-left: 0;
}

.rules li {
    margin: 5px 0;
}

.user-profile {
    margin-top: 20px;
}

.inputlogin {
    margin: 10px;
    background: none;
    border: none;
    outline: none;
    max-width: 190px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(0, 0, 0);
    color: #ffffff;
  }

.login_container { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    max-width: 1200px;
    width: 80%;
    height: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #171717;
    border: 2px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #ccc;
}