/* Estilos básicos */
body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: auto;
    padding: auto;
    width: 90vw;
    height: 40vw;
    background-color: #dad9d9;
    --color: #dad9d9;
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 60px 60px;
    align-items: center; /* Alinha Verticalmente */
    flex-direction: center; /* definindo o eixo principal e a direção (normal ou invertido). */
    justify-content: center; /* Alinha Horizontalmente */

}

.container {
    display: flex;
    max-width: 900px;
    width: 70%;
    height: 70%;
    margin: none;
    padding: 50px;
    background-color: #fff;
    border: 2px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: larger;
}



h2, h1 {
    color: #333;
    font-size: 300%;
    margin: 10px;
    padding: 20px;
    text-align: center;

}

.btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
    width: 150px;
    height: 60px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #dfee10 0%, #14e225 100%);
    box-shadow: 0 20px 30px -6px rgba(14, 35, 59, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 24px;
    color: white;
}


.btn:hover {
    transform: translateY(3px);
    box-shadow: none;
}

.btn:active {
    opacity: 0.5;
  }

.error {
    color: red;
    margin-top: 10px;
}

.characters {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.character {
    text-align: center;
    cursor: pointer;
}

.character img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.character p {
    margin-top: 10px;
}

.rules ul {
    list-style-type: none;
    padding-left: 0;
}

.rules li {
    margin: 5px 0;
}

.user-profile {
    margin-top: 20px;
}

.Initial_container {
    display: flex;
    gap: 5px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    max-width: 900px;
    width: 1000px;
    height: 90%;
    margin: 200px auto;
    padding: 20px;
    background-color: #171717;
    border: 2px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #e7d7d7;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-seri
}

.inputAll {
    margin: 10px;
    background: none;
    text-align: center;
    border: none;
    outline: none;
    max-width: 190px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(0, 0, 0);
    color: #ffffff;
  }

.login_container { 
    display: flex;
    gap: 5px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    max-width: 900px;
    width: 400px;
    height: 65%;
    margin: 200px auto;
    padding: 20px;
    background-color: #171717;
    border: 2px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #e7d7d7;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-seri
}

.Cadastro_container {
    display: flex;
    gap: 5px;
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 0.4em;
    max-width: 900px;
    width: 400px;
    height: 65%;
    margin: 200px auto;
    padding: 20px;
    background-color: #171717;
    border: 2px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #e7d7d7;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 1020px) {

    /* responsividade */
    .container, .btn {
        display: flexbox;
        gap: 5px;
    }
}